
<div id="content" class="float_r">
  <div class="signup-form" style="margin: 50px;">
    {{#if success_msg}}
      <div class="alert alert-success">{{success_msg}}</div>
    {{/if}}
    {{#if error_msg}}
       <div class="alert alert-danger">{{error_msg}}</div>
    {{/if}}
    {{#if error}}
       <div class="alert alert-success">{{error}}</div>
    {{/if}}
    <h2>Đăng nhập</h2>
    <form method="POST" action="/user/loginForm/login">
      <div>
        <input type="text" placeholder="Username" name="username" required>
        <input type="password" placeholder="Password" name="password" required>
        <button type="submit" class="btn btn-default">Đăng nhập</button>
      </div>
      <div >
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
  </div>
  <div class="signup-form" style="margin: 50px;"><!--sign up form-->
    <h2>Đăng kí tài khoản mới</h2>
    {{#if error_msg}}
      <div class="alert alert-danger">{{error_msg}}</div>
    {{/if}}
    <form method="POST" action="/user/signup-submit">
        {{#if name}}
        <p class='text-danger'>{{name}}</p>
      {{/if}}
      <input type="text" placeholder="Tên" name="name" required/>
      <input type="date" placeholder="Ngày sinh" name="date_of_birth" required/>
      {{#if email}}
        <p class='text-danger'>{{email}}</p>
      {{/if}}
      <input type="email" placeholder="Email" name="email" required/>
      {{#if username}}
        <p class='text-danger'>{{username}}</p>
      {{/if}}
      <input type="text" placeholder="Tên tài khoản" name="username" required/>
      {{#if password}}
        <p class='text-danger'>{{password}}</p>
      {{/if}}
      <input type="password" placeholder="Mật khẩu" name="password" required/>
      {{#if password2}}
        <p class='text-danger'>{{password2}}</p>
      {{/if}}
      <input type="password" placeholder="Xác nhận mật khẩu" name="repeatPassword" required/>
      <button type="submit" class="btn btn-default">Đăng kí</button>
    </form>
  </div><!--/sign up form-->

</div> 
<div class="cleaner"></div>
</div> <!-- END of templatemo_main -->