<<<<<<< refs/remotes/origin/master
<div id="content" class="float_r">
  <div class="signup-form" style="margin: 50px;">
    {{#if success_msg}}
      <div class="alert alert-success">{{success_msg}}</div>
    {{/if}}
    {{#if error_msg}}
       <div class="alert alert-danger">{{error_msg}}</div>
    {{/if}}
    {{#if error}}
       <div class="alert alert-danger">{{error}}</div>
    {{/if}}
    <form method="POST" action="/user/loginForm/login" style="border:1px solid #ccc">
      <div class="container">
        <h1>Đăng nhập</h1>
        <hr>
        <input type="text" placeholder="Username" name="username" required>
        <input type="password" placeholder="Password" name="password" required>

        <div class="clearfix center-row">
          <button type="button" class="cancelbtn"><a href="/">Hủy</a></button>
          <button type="submit" class="signupbtn">Đăng nhâp</button>
        </div>
      </div>
    </form>
  </div>
  <div class="signup-form" style="margin: 50px;"><!--sign up form-->
    {{#if error_msg}}
      <div class="alert alert-danger">{{error_msg}}</div>
    {{/if}}
    <form method="POST" action="/user/signup-submit" style="border:1px solid #ccc">
      <div class="container">
        <h1>Đăng ký</h1>
        <p>Điền thông tin vào form đăng ký</p>
        <hr>

        <input type="text" placeholder="Tên" name="name" required/>
        <input type="date" placeholder="Ngày sinh" name="date_of_birth" required/>
        <input type="email" placeholder="Email" name="email" required/>
        <input type="text" placeholder="SĐT" name="phone" required/>
        <input type="text" placeholder="Tên tài khoản" name="username" required/>
        <input type="password" placeholder="Mật khẩu" name="password" required/>
        <input type="password" placeholder="Xác nhận mật khẩu" name="repeatPassword" required/>
        
        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

        <div class="clearfix center-row">
          <button type="button" class="cancelbtn"><a href="/">Hủy</a></button>
          <button type="submit" class="signupbtn">Đăng ký</button>
        </div>
      </div>
    </form>
  </div><!--/sign up form-->

</div> 
<div class="cleaner"></div>
=======
<div id="content" class="float_r">
  <div class="signup-form" style="margin: 50px;">
    {{#if success_msg}}
      <div class="alert alert-success">{{success_msg}}</div>
    {{/if}}
    {{#if error_msg}}
       <div class="alert alert-danger">{{error_msg}}</div>
    {{/if}}
    {{#if error}}
       <div class="alert alert-danger">{{error}}</div>
    {{/if}}
    <form method="POST" action="/user/loginForm/login" style="border:1px solid #ccc">
      <div class="container">
        <h1>Đăng nhập</h1>
        <hr>
        <input type="text" placeholder="Username" name="username" required>
        <input type="password" placeholder="Password" name="password" required>

        <div class="clearfix center-row">
          <button type="button" class="cancelbtn"><a href="/">Hủy</a></button>
          <button type="submit" class="signupbtn">Đăng nhâp</button>
        </div>
      </div>
    </form>
  </div>
  <div class="signup-form" style="margin: 50px;"><!--sign up form-->
    {{#if error_msg}}
      <div class="alert alert-danger">{{error_msg}}</div>
    {{/if}}
    <form method="POST" action="/user/signup-submit" style="border:1px solid #ccc">
      <div class="container">
        <h1>Đăng ký</h1>
        <p>Điền thông tin vào form đăng ký</p>
        <hr>

        <input type="text" placeholder="Tên" name="name" required/>
        <input type="date" placeholder="Ngày sinh" name="date_of_birth" required/>
        <input type="email" placeholder="Email" name="email" required/>
        <input type="text" placeholder="SĐT" name="phone" required/>
        <input type="text" placeholder="Tên tài khoản" name="username" required/>
        <input type="password" placeholder="Mật khẩu" name="password" required/>
        <input type="password" placeholder="Xác nhận mật khẩu" name="repeatPassword" required/>
        
        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

        <div class="clearfix center-row">
          <button type="button" class="cancelbtn"><a href="/">Hủy</a></button>
          <button type="submit" class="signupbtn">Đăng ký</button>
        </div>
      </div>
    </form>
  </div><!--/sign up form-->

</div> 
<div class="cleaner"></div>
>>>>>>> distributed
</div> <!-- END of templatemo_main -->