<div class="product_box">
  <h3>{{this.name}}</h3>
  <a href="/product/productDetail/{{this.brand}}/{{this._id}}"><img width="200px" height="170px" src=/{{this.image_link}} alt="Shoes 1"/></a>
  <p class="product_price">{{this.price}} VND</p>
    <a href="shoppingcart.html" class="addtocart"></a>
    <a href="/product/productDetail/{{this.brand}}/{{this._id}}" class="detail"></a>
</div>